<div id="footer">
    <div class="container">
        <p class ="text-muted"><a href="http://palmchou.me/" target="_blank">Palm Chou</a> 2014</p>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="javascripts/bootstrap.js"></script>