<!DOCTYPE html>
<html>
  <head>
      <% include heads.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container theme-showcase" role="main">
        <% include alart %>
        <div class="jumbotron">
            <h1>Hello, ACMer!</h1>
            <p>This is a website who helps you and your teamate with organizing oj problems.</p>
            <p><a href="/reg" class="btn btn-primary btn-lg" role="button">Sign up &raquo;</a></p>
        </div>
    </div>
  <% include footer.ejs %>
  </body>
</html>
