<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ACMer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/reg">Sign up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/random">Random</a></li>
                <li class="dropdown">
                    <a href="/u/test" class="dropdown-toggle" data-toggle="dropdown">My ACM <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <% if(user) { %>
                        <li><a href="/u/<%= user.name %>"></a></li>
                        <% }%>
                        <li><a href="/t/myteam">My Team</a></li>
                        <li><a href="/treg">Team Regist</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>