<!DOCTYPE html>
<html>
<head>
    <% include heads.ejs %>
</head>
<body>
<% include navbar.ejs %>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Sign up</h1>
    </div>
    <!-- Cannot signup for now -->
    <div class="alert alert-warning">
        <strong>Sorry.</strong>
        "No open registration for now."
    </div>
</div>
<% include footer.ejs %>
</body>
</html>
